h1 {
    text-align: center;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: red;
    text-align: center;
}

.page-footer {
    color: red;
    background-color: black;
}

nav {
    background-color: black;
}

.unite{
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.right {
    position: relative;

}

.btn {
    background-color: black;
}

.card{
    width: 100%;
}

.homepage {
    flex-direction: row;
    text-align: center;
}

.username {
    color: rgba(51, 160, 255, 0.5);
}

.volbtn {
    position: absolute;
    left: 150px;
    background-color: black;
    color: white;
    cursor: pointer;
    transition: background-color .2s ease-out;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    transition-delay: 0s;
}

.container {
    margin-bottom: 3rem;
}

.abouttext{
    text-align: center;
}
